@import 'scss/variables/index';

@media only screen and (min-width: $phone) {
  .pd-start-project {
    .background {
      background: #f9fafb;
      margin: 0 -20px;
      padding: 30px 20px;
    }

    .text {
      text-align: center;

      .title {
        font-size: 22px;
        letter-spacing: 0.5px;
      }

      .subtitle {
        font-size: 20px;
        letter-spacing: 0.39px;
        margin-top: 20px;
      }
    }

    .image-container {
      margin: 0 auto;
      width: 193px;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .pd-start-project {
    .background {
      background: #f9fafb;
      margin: 0 -70px;
      padding: 70px;
    }

    .text {
      text-align: left;

      .title {
        font-size: 37px;
        margin-bottom: 30px;
      }

      .subtitle {
        font-size: 29px;
        color: #aaaaaa;
        letter-spacing: 0.5px;
      }
    }

    .image-container {
      text-align: center;
      width: 100%;
    }
  }
}
