.pd-header {
  &__v2 {
    align-items: center;
    justify-content: space-between;

    .header__left {
      align-items: center;
      display: flex;

      .logo {
        display: flex;
        justify-content: space-evenly;

        img {
          width: 100%;
        }
      }

      .company {
        color: #333333;
        letter-spacing: 0.5px;
        text-align: left;
      }
    }

    .header__right {
      text-align: right;
      a {
        font-size: 23px;
        color: #333333;
        letter-spacing: 0.5px;
        text-align: center;
        text-transform: uppercase;

        &:not(:first-of-type) {
          margin-left: 50px;
        }
      }
    }

    .icon-menu {
      cursor: pointer;
      font-size: 25px;
      margin-top: 6px;
    }
  }
}

@import './media-query';
