@import 'scss/variables/index.scss';

.team {
  .background {
    background: url('/img/backgrounds/bg-team_v2.png');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0px -70px;
    padding: 50px 70px;
  }

  .page-title {
    color: $pd-black-1;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
  }

  .page-subtitle {
    color: $pd-grey-1;
    letter-spacing: 0.5px;
    text-align: center;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 515px;

    &--left {
      justify-content: space-between;
    }

    &--right {
      justify-content: space-evenly;
    }
  }

  .team-image-container {
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.25);
    color: #fff;
    position: relative;
    width: 100%;

    & > .display-name {
      bottom: 0;
      position: absolute;
      font-size: 30px;
      letter-spacing: 0.5px;
    }

    img {
      border-radius: 10px;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}

@import './media-query';
