@import 'scss/variables/index';

@media only screen and (min-width: $phone) {
  .pd-social-media-address {
    &__v2 {
      .header {
        font-size: $pd-font-size-md;
        margin-bottom: 20px;

        &--address {
          margin-top: 35px;
        }
      }

      .address {
        font-size: $pd-font-size-sm;
      }

      .social-media {
        .text {
          font-size: $pd-font-size-sm;
          margin-left: 10px;
        }
        .img-container {
          width: 30px;
        }
      }

      .pd-map {
        margin-top: 30px;
      }
    }
  }
}

@media only screen and (min-width: $tablet) {
  .pd-social-media-address {
    &__v2 {
      .header {
        font-size: $pd-font-size-lg;
        margin-bottom: 30px;

        &--address {
          margin-top: 0px;
        }
      }

      .address {
        font-size: $pd-font-size-md;
      }

      .social-media {
        .text {
          font-size: $pd-font-size-md;
          margin-left: 30px;
        }
        .img-container {
          width: 48px;
        }
      }

      .pd-map {
        margin-top: 70px;
      }
    }
  }
}
