@import 'scss/variables/color.scss';

.pd-traction {
  &__v2 {
    .header {
      color: #333333;
      font-weight: bold;
      letter-spacing: 0.5px;
      text-align: center;
      text-transform: uppercase;
    }

    .company {
      .image-container {
        height: 200px;
        width: 100%;

        img {
          height: 100%;
          object-fit: contain;
          width: 100%;
        }
      }
    }
  }
}

@import './media-query';
