.pd-headline {
  &__v2 {
    .item {
      & > .title {
        font-weight: bold;
        text-transform: uppercase;

        .primary {
          color: #333333;
        }
        .secondary {
          color: #d7dbdd;
        }
      }
      .description {
        color: #aaaaaa;
      }
    }
  }
}

.ant-carousel {
  .slick-slider {
    margin-bottom: 50px !important;
  }

  .slick-dots {
    bottom: -25px !important;
    display: flex !important;

    .slick-active button {
      background: #333333 !important;
      color: #333333 !important;
    }
    li button {
      background: #979797 !important;
      color: #979797 !important;
    }
  }
}

@import './media-query';
