@import 'scss/variables/index';

.pd-footer {
  &__v2 {
    background: $pd-black-1;
    color: $pd-white;
    font-size: 18px;
    letter-spacing: 0.82px;
    padding: 20px 0;
    text-align: center;
  }
}

@import './media-query';
