@import 'scss/variables/index';

@media only screen and (min-width: $phone) {
  .pd-whatsapp-btn {
    &__v2 {
      bottom: 20px;
      right: 20px;

      .pd-whatsapp-container {
        padding: 14px;
        width: 60px;
      }
    }
  }
}

@media only screen and (min-width: $tablet) {
  .pd-whatsapp-btn {
    &__v2 {
      bottom: 70px;
      right: 70px;

      .pd-whatsapp-container {
        padding: 17px 30px !important;
        width: 208px;
      }
    }
  }
}
