@import 'scss/variables/color.scss';
@import 'scss/variables/font.scss';

.pd-about {
  .page-title {
    font-size: 37px;
    color: #333333;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  .page-subtitle {
    font-size: 37px;
    color: #777777;
    letter-spacing: 0.5px;
    text-align: center;
    margin-top: 70px;
  }

  .communication {
    position: relative;
    top: -40px;
    width: 100%;
  }

  &-footer {
    background: linear-gradient($pd-background, $pd-background-dark);
    margin-top: 100px;
    padding: 40px 0;
    text-align: center;

    .title {
      font-size: 40px;
      font-weight: bold;
    }

    .subtitle {
      color: $pd-text-light;
    }

    .ant-btn {
      margin-top: 40px;
    }
  }
}
