@import '../node_modules/antd/dist/antd.css';

// color
$pd-background: #f4ebe6;
$pd-text-dark: #454442;
$pd-text-light: #c0b0ad;

// common-ground
a {
  color: inherit;
}

body {
  background-color: $pd-background;
  width: unset;
  height: unset;
}

.pd-container {
  margin: 0 auto;
}